{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Biblioteca CDL</title>
     <link rel="stylesheet" href="{% static '/biblioteca/styles/style.css' %}">
     <script src="{% static '/biblioteca/js/script.js' %}"></script>
</head>

<body>
    <div class="pagina-inicial">
        <header class="cabecalho">
            <img src="{% static '/biblioteca/assets/logo/logo-f-cdl.png' %}" alt="Logo da Faculdade Cdl" id="logo"/>
        </header>
        <main class="principal">
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                   <p>O sistema de armazenamento de trabalhos
                    acadêmicos apresentado neste projeto foi
                    desenvolvido por um grupo dedicado de
                    alunos do curso de Análise e
                    Desenvolvimento de Sistemas (ADS). Este
                    grupo de estudantes, apaixonados por
                    tecnologia e comprometidos com a
                    excelência acadêmica, uniu forças para
                    criar uma solução eficiente e prática para o
                    gerenciamento de trabalhos acadêmicos.</p>
                    <img src="{% static '/biblioteca/assets/logo/baixo.png' %}" alt="Logo da Faculdade Cdl" id="logo"/>
                </nav>
            </section>
            <section class="conteudo">
                <section class="tags">
                    <p class="tags__titulo">Trabalhos Acadêmicos:</p>
                    <div class="cabecalho__busca">
                        <div class="busca__fundo">
                            <form action="{% url 'buscar' %}">
                                <input class="busca__input" name="buscar" type="text" placeholder="O que você procura?">
                                <button type="submit">
                                    <img class="busca__icone" src="{% static 'biblioteca/assets/ícones/1x/search.png' %}" alt="ícone de search">
                                </button>
                            </form>
                        </div>
                    </div>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo"></h2>
                        <ul class="cards__lista">
                        {% if artigos %}
                            {% for artigo in artigos %}
                                {% if artigo.publicado == 1 %}
                                     <div id="myModal" class="modal showmodal-{{ artigo.id }}">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="card__titulo">{{ artigo.titulo }}</h2>
                                                <span class="close" onclick="fecharModal(this)" data-id="{{ artigo.id }}">&times;</span>
                                            </div>
                                            <h2 class="cards__titulo"></h2>
                                            <div class="modal-body">
                                                <p>{{ artigo.resumo }}</p>
                                            </div>
                                            <h2 class="cards__titulo"></h2>
                                            <div class="modal-footer">
                                                <a href="{{ artigo.arquivo.url }}" id="download" download>Download</a>
                                            </div>
                                        </div>
                                     </div>
                                    <li class="card">
                                        <a href="#" onclick="mostrarModal(this)" data-id="{{ artigo.id }}">
                                            <img class="card__imagem" src="{% static 'biblioteca/assets/imagens/galeria/carina-nebula.png' %}" alt="foto">
                                        </a>
                                        <div class="card__info">
                                            <p class="card__titulo">{{ artigo.titulo }}</p>
                                            <h2 class="card__img"></h2>
                                            <br>

                                            <div class="card__texto">
                                                <p class="card__descricao">Autor: {{ artigo.autor }}</p>
                                                <a href="#" onclick="mostrarModal(this)" data-id="{{ artigo.id }}">
                                                    <img src="{% static 'biblioteca/assets/ícones/1x/Mais vistas - ativo.png' %}" alt="ícone de visualizar">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        	{% else %}
                                <h2 class="cards__titulo">Nenhum artigo encontrado</h2>
                        {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
    <footer class="rodape">
        <div class="rodape__icones">
            <a href="https://twitter.com/" target=”_blank” >
                <img src="{% static 'biblioteca/assets/ícones/1x/twitter.png' %}" alt="ícone twitter">
            </a>
            <a href="https://www.instagram.com/" target=”_blank” >
                <img src="{% static 'biblioteca/assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
            </a>
        </div>
        <p class="rodape__texto">Flávio Renato - Junior Mathias</p>
    </footer>
</body>

</html>